<header>
    <link rel="stylesheet" href="./style.css">
</header>

<div class="congrates">

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-6"> <button type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#myModal"></button> </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="card">
            <div class="text-right cross"> <i class="fa fa-times"></i> </div>
            <div class="card-body text-center"> <img src="https://img.icons8.com/bubbles/200/000000/trophy.png">
                <h4>CONGRATULATIONS!</h4>
                <p>You are the winner!</p> <button class="btn btn-out btn-square continue">CONTINUE</button>
            </div>
        </div>
    </div>
</div>

</div>