
* { 
    margin: 0;
    padding: 0;
    list-style-type: none; 
    text-decoration: none 
}
body {
    font-family: 'Press Start 2P', cursive;
    text-align: center ;
    background-color: rgb(122, 116, 108);
    color: white;
}

.header * {
    margin: 0;
    padding: 200;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: 8vh;
    padding: 0 8px;
    align-items: center;
    border-bottom: 1px solid;
}


 .rightanswer {
    border-color: #04AA6D;
    color: green;
 }
  .wronganswer {
  border-color: #f44336;
  color: red;
  }

.getcompliment {
border-color: #ff9800;
color: orange;

}
.button2 {background-color: #00ba3e;} /* Blue */
.button1 {background-color: #f44336;} /* Red */ 


main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background: url('../assets/background_image.jpg');
    background-color : black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}


